<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Aluno</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
        <style>
            body{
                background-color: rgba(255, 255, 255, 0.534);
            }
            
            table{
                margin-top: 10px;
            }

            td{
                text-align: center;
            }

            #divInserir{
                display: flex;
                margin: 10 auto !important;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }

            #inserirBtn{
                width: 400px;
                margin-bottom: 10px;
            }

            .container{
                margin-top: 50px;
            }
        </style>
    </head>
<body>
    <div class = "container">
        <form class = "row g-3">
            <div class="col-md-6">
              <input type="email" class="form-control" id="inputEmail" placeholder="Email">
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" id="inputNome" placeholder="Nome">
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" id="inputMatricula" placeholder="Matricula">
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" id="inputTelefone" placeholder="Telefone">
            </div>
            <div id = "divInserir" class="col-12">
                <button type="submit" class="btn btn-primary" id = "inserirBtn" onclick="createAluno()">Inserir</button>
            </div>
          </form>

          <h1>Lista de Alunos</h1>
    
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Matricula</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Telefone</th>
              </tr>
            </thead>
            <tbody>
                <% for(let i = 0; i < alunos.length ; i++){%>
                <tr>
                    <td>
                        <%= alunos[i].matricula %>
                    </td>
                    <td>
                        <%= alunos[i].nome %>
                    </td>
                    <td>
                        <%= alunos[i].email %>
                    </td>
                    <td>
                        <%= alunos[i].telefone %>
                    </td>
                    <td>
                        <button type="button" class="btn btn-warning"  onclick="updateAluno('<%= alunos[i].email%>')">Atualizar</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" onclick="deleteAluno('<%= alunos[i].email%>')">Deletar</button>
                    </td>
                </tr>
                <%}%>
            </tbody>
          </table>
    </div>

    <script>
        function createAluno(){
            const matricula = document.getElementById("inputMatricula").value;
            const nome = document.getElementById("inputNome").value;
            const email = document.getElementById("inputEmail").value;
            const telefone = document.getElementById("inputTelefone").value;

           const body = JSON.stringify({
                matricula: matricula,
                nome: nome,
                email: email,
                telefone: telefone
            })

            fetch("/aluno/create", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: body
            });
        }

        function updateAluno(email){
            const matricula = document.getElementById("inputMatricula").value;
            const nome = document.getElementById("inputNome").value;
            const telefone = document.getElementById("inputTelefone").value;

           const body = JSON.stringify({
                matricula: matricula,
                nome: nome,
                email: email,
                telefone: telefone
            })

            fetch(`/aluno/update/${email}`, {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: body
            }).then(response => {
                if (response.ok) {
                    window.location.href = '/aluno/list';
                } else {
                    console.error('Erro ao atualizar aluno:', response.statusText);
                }
            });
        }


        function deleteAluno(email){

            fetch(`/aluno/delete/${email}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
            }).then(response => {
                if (response.ok) {
                    window.location.href = '/aluno/list';
                } else {
                    console.error('Erro ao deletar aluno:', response.statusText);
                }
            });
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>