<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Avaliacao</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
        <style>
            body{
                background-color: rgba(255, 255, 255, 0.534);
            }
            
            table{
                margin-top: 10px;
            }

            td, th{
                text-align: center;
            }

            td{
                text-align: center;
            }

            #divInserir{
                display: flex;
                margin: 10 auto !important;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }

            #inserirBtn{
                width: 400px;
                margin-bottom: 10px;
            }

            .container{
                margin-top: 50px;
            }
        </style>
    </head>
<body>
    <div class = "container">
        <form class = "row g-3">
            <div class="col-md-6">
              <input type="text" class="form-control" id="inputGrupo" placeholder="Grupo">
            </div>
            <div class="col-md-6">
                <input type="number" class="form-control" id="inputNota1" placeholder="Nota 1">
            </div>
            <div class="col-md-6">
              <input type="number" class="form-control" id="inputNota2" placeholder="Nota 2">
            </div>
            <div id = "divInserir" class="col-12">
                <button type="submit" class="btn btn-primary" id = "inserirBtn" onclick="createAvaliacao()">Inserir</button>
            </div>
          </form>

          <h1>Lista de Avaliações</h1>
    
          <table class="table align-middle table-bordered table-dark">
            <thead>
              <tr>
                <th scope="col">Grupo</th>
                <th scope="col">Nota 1</th>
                <th scope="col">Nota 2</th>
                <th scope="col">Nota Final</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
                <% for(let i = 0; i < avaliacao.length ; i++){%>
                <tr>
                    <td>
                        <%= avaliacao[i].idGrupo %>
                    </td>
                    <td>
                        <%= avaliacao[i].nota1 %>
                    </td>
                    <td>
                        <%= avaliacao[i].nota2 %>
                    </td>
                    <td>
                        <%= avaliacao[i].notaFinal %>
                    </td>
                    <td>
                        <button type="button" class="btn btn-warning"  onclick="updateAvaliacao('<%= avaliacao[i].idGrupo%>')">Atualizar</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" onclick="deleteAvaliacao('<%= avaliacao[i].idGrupo%>')">Deletar</button>
                    </td>
                </tr>
                <%}%>
            </tbody>
          </table>
    </div>

    <script>
        function createAvaliacao(){
            const idGrupo = document.getElementById("inputGrupo").value;
            const nota1 = parseFloat(document.getElementById("inputNota1").value);
            const nota2 = parseFloat(document.getElementById("inputNota2").value);
            const notaFinal = parseFloat((nota1 + nota2)/2);

           const body = JSON.stringify({
                nomeDoGrupo:{
                    connect:{
                        nomeGrupo: idGrupo
                    }
                },
                nota1: nota1,
                nota2: nota2,
                notaFinal: notaFinal
            })

            fetch("/avaliacao/create", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: body
            });
        }

        function updateAvaliacao(idGrupo){
            const nomeGrupo = document.getElementById("inputGrupo").value;
            const nota1 = parseFloat(document.getElementById("inputNota1").value);
            const nota2 = parseFloat(document.getElementById("inputNota2").value);
            const notaFinal = parseFloat((nota1 + nota2)/2);

           const body = JSON.stringify({
                nomeDoGrupo:{
                    connect:{
                        nomeGrupo: idGrupo
                    }
                },
                nota1: nota1,
                nota2: nota2,
                notaFinal: (nota1 + nota2) / 2
            })

            fetch(`/avaliacao/update/${idGrupo}`, {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: body
            }).then(response => {
                if (response.ok) {
                    window.location.href = '/avaliacao/list';
                } else {
                    console.error('Erro ao atualizar avaliacao:', response.statusText);
                }
            });
        }


        function deleteAvaliacao(idGrupo){
            fetch(`/avaliacao/delete/${idGrupo}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
            }).then(response => {
                if (response.ok) {
                    window.location.href = '/avaliacao/list';
                } else {
                    console.error('Erro ao deletar avaliacao:', response.statusText);
                }
            });
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>